.red1
{
color: red;
font-size: 30px;
font-weight: 900;
}
.s2
{
color: red;
font-size: 30px;
font-weight: 900;
text-align: center;
}
.s3
{
color: rgb(18, 15, 221);
font-size: 30px;
font-weight: 900;
text-align: left;
}